[package]
name = "gitlab"
version = "0.1.0"
authors = ["Ben Boeckel <ben.boeckel@kitware.com>"]
license = "MIT/Apache-2.0"
description = """
Gitlab API client.
"""
repository = "https://gitlab.kitware.com/utils/rust-gitlab.git"
homepage = "https://gitlab.kitware.com/utils/rust-gitlab"
readme = "README.md"
build = "build.rs"

[build-dependencies]
serde_codegen = "~0.8"

[dependencies]
chrono = { version = "~0.2", features = ["serde"] }
error-chain = "~0.7"
hyper = { version = "~0.9", default-features = false }
log = "~0.3"
reqwest = "~0.2"
serde = "~0.8"
serde_json = "~0.8"
url = "~1.2"
