[package]
name = "gitlab"
version = "0.902.0"
authors = ["Ben Boeckel <ben.boeckel@kitware.com>"]
license = "MIT/Apache-2.0"
description = """
Gitlab API client.
"""
repository = "https://gitlab.kitware.com/utils/rust-gitlab"
documentation = "https://docs.rs/gitlab/0.902.0"
readme = "README.md"
keywords = ["gitlab", "api"]
categories = ["web-programming", "api-bindings"]

[dependencies]
hyper = { version = "~0.10", default-features = false }
itertools = "~0.6"
log = "~0.3"
reqwest = "~0.6"
serde_derive = "^1.0"
url = "^1.4"

chrono = { version = "~0.3.1", features = ["serde"] }
error-chain = ">= 0.9, < 0.11"
serde = "~1.0"
serde_json = "^1.0"

[features]
strict = []
